body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eee;
}

#image-result {
    margin-top: 1em;
}

#image {
    vertical-align: top;
}

h1 {
    padding-bottom: 10px;
}

h2 {
    padding-top: 10px;
}

h3 {
    color: #888;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    color: #777;
}

.indicator {
    color: #c78;
    font-size: small;
}

/* Customize container */
@media (min-width: 840px) {
    .container {
        max-width: 840px;
        text-align: center;
    }
}

.result {
    color: #79a;
}
